{% extends 'base.html.twig' %}

{% block title %}Nouveau utilisateur{% endblock %}

{% block body %}
    <h1>Ajouter un utilisateur</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    <button class="btn redirect"><a href="{{ path('admin_userAll_browse') }}">Annuler</a></button>
{{ form_end(form) }}
{% endblock %}